@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rochester');

html {
  color: white;
  background-color: black;
}

div.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.main {
  border: 1px solid;
  box-shadow: 0 0 5px;
  margin: 50px 5px;
  animation-name: changeBorder;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
div.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid;
  margin: 5px;
  padding: 10px;
  animation-name: changeBorder;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

div.line {
  background-color: white;
  height: 1px;
  width: 175px;
}

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

p {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 30px;
  padding: 0 15px;
}

@media (min-width: 450px) {
  div.main {
    margin: 50px;
  }
}

@media (min-width: 600px) {
  div.main {
    margin: 75px 100px;
  }
}

@media (min-width: 1000px) {
  div.main {
    margin: 125px 275px;
  }
}

@keyframes changeBorder {
  0% {
    border-color: blue;
  }
  25% {
    border-color: rgb(20, 118, 156);
  }
  50% {
    border-color: rgb(89, 0, 255);
  }
  75% {
    border-color: blueviolet;
  }
  100% {
    border-color: blue;
  }
}
